
.BurBurText{
  padding: 10px;
  color: black;
}

ion-card-title{
  text-align: center;
}

.favorites{
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

.History{
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.logo{
  width: 10%;
  height: 5%;
}

.Searchbar{

}










