.Searchbar{
  font-size: large;
  text-align: center;
  border: solid white;
  border-radius: 15px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  color: black;
}

input{
  border:none;
}

.BurBurText{
  padding: 10px;
  color: black;
}

ion-card-title{
  text-align: center;
}

.favorites{
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

.History{
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: center;
}










