<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>FoodFinder</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-label position="floating">Benutzername</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Passwort</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button id="btn" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
